{{ inventory_hostname }},{{ os_version.stdout_lines[0] if (os_version.stdout_lines|length>0) else 'NA' }},{{ httpd_version.stdout_lines[0] if (httpd_version.stdout_lines|length>0) else 'NA' }},{{ ntp_version.stdout_lines[0] if (ntp_version.stdout_lines|length>0) else 'NA' }},{{ tm_version.stdout_lines[0] if (tm_version.stdout_lines|length>0) else 'NA' }},{{ mysql_version.stdout_lines[0] if (mysql_version.stdout_lines|length>0) else 'NA' }},{{ docker_version.stdout_lines[0] if (docker_version.stdout_lines|length>0) else 'NA' }},{{ dd_version.stdout_lines[0] if (dd_version.stdout_lines|length>0) else 'NA' }},{{ ldap_version.stdout_lines[0] if (ldap_version.stdout_lines|length>0) else 'NA' }},{{ jdk_version.stdout_lines[0] if (jdk_version.stdout_lines|length>0) else 'NA' }},{{ squid_version.stdout_lines[0] if (squid_version.stdout_lines|length>0) else 'NA' }}
